:root {
  --borderthickness: 1px;
  --border_color: rgb(215, 215, 215);
  --color_dark: #005662;
  --color_medium: #00838f;
  --color_light: #4fb3bf;
  --color_background: rgb(230, 240, 240);
  --color_foreground: white; }

body {
  font-family: 'Black And White Picture', sans-serif;
  background-color: var(--color_background); }

.titlebar {
  background-color: var(--color_dark); }

.title {
  color: white; }

.sidebar {
  background-color: var(--color_foreground);
  border-right: var(--borderthickness, 2px) solid var(--border_color); }

.sidebar_icon_div {
  border-bottom: var(--borderthickness) solid var(--border_color); }

.sidebar_content {
  padding-left: 20px; }

.sidebar_content a {
  text-decoration: none; }

.sidebar_content a p {
  transition: 0.5s;
  color: #646464; }

.sidebar_content a p:hover {
  transition: 0.2s;
  color: black;
  margin-left: 5px; }

.button {
  color: white;
  background-color: #bddaff;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.8); }

.t_div {
  font-family: 'East Sea Dokdo', cursive; }

.t_mininote {
  border: 1px solid var(--border_color); }

.t_show_more {
  color: #a1a1a1; }

.t_show_more:hover {
  color: black; }

.t_content {
  background-color: var(--color_foreground); }

.t_content_title {
  background-color: mediumvioletred;
  color: white; }

:root {
  --part_x: 5;
  --part_y: 3;
  --grid_gap: 20px;
  --header_height: 75px;
  --sidebar_max_width: 400px;
  --sidebar_hide_pos: -400px;
  --button_text_size: 30px;
  --icon_size: 50px;
  --margin-sides: 25%; }

body {
  position: static;
  margin: 0;
  height: 100%;
  width: 100%; }

.all {
  width: 100%;
  height: inherit; }

.titlebar {
  position: fixed;
  z-index: +2;
  width: 100%;
  height: var(--header_height); }

.title {
  margin: 0 0 0 150px;
  font-size: 40px;
  line-height: 80px; }

.sidebar {
  visibility: hidden;
  position: fixed;
  z-index: +4;
  width: var(--sidebar_max_width);
  height: inherit;
  transition: 0.5s ease;
  left: var(--sidebar_hide_pos); }

.sidebar_icon {
  float: right;
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(/img/desktop/image_sprites.png) -1624px -1200px; }

.header_icon {
  margin: 10px;
  float: left;
  width: var(--icon_size);
  height: var(--icon_size);
  background: url(/img/desktop/image_sprites.png) -1674px -1200px; }

.space {
  width: inherit;
  height: var(--header_height); }

.main_content {
  grid-column: 1/2;
  grid-row: 2/3; }

.button {
  width: 100px;
  z-index: +3;
  padding: 40px;
  margin: 0;
  font-size: var(--button_text_size);
  line-height: 50px;
  text-align: center; }

@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  :root {
    --sidebar_max_width: 100vw;
    --margin-sides: 0px; }

  .all {
    width: 100%;
    height: 100%; }

  .title {
    margin: 0 0 0 100px; } }
.t_div {
  display: grid;
  grid-template-columns: var(--margin-sides) repeat(3, 1fr) var(--margin-sides);
  grid-template-rows: 300px auto; }

.t_background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(/img/desktop/Mountain-Scenery.png); }

.t_placeholder {
  grid-column: 1/6;
  grid-row: 1/2; }

.t_mininote {
  margin-top: 50px;
  margin-left: auto;
  background-color: white;
  width: 300px;
  height: 420px; }

.t_mininote * {
  margin: 0;
  font-size: 30px;
  text-align: center; }

.t_mininote p {
  padding-left: 10px;
  padding-right: 10px; }

.t_mininote img {
  width: 300px;
  height: 200px; }

.t_short_p {
  font-size: 25px; }

.t_show_more {
  display: none; }

.t_long_p {
  visibility: hidden;
  font-size: 20px; }

.t_content {
  grid-column: 2/5;
  grid-row: 2/3;
  padding: 0 30px 0 30px; }

.t_content p {
  padding: 10px 15px 0 15px;
  font-size: 25px; }

.t_content_title {
  padding: 0 20px 0 20px;
  position: absolute;
  z-index: 1;
  transform: translateY(-50px);
  font-size: 30px;
  text-align: center;
  line-height: 0px; }

@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  .t_background {
    background: url(/img/mobile/Mountain-Scenery.png); }

  .t_mininote {
    display: none; }

  .t_div {
    grid-template-rows: 220px auto; }

  .t_content_title {
    font-size: 180%; } }
.overlay {
  transition: 0.5s;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 93%;
  z-index: +1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: black;
  visibility: hidden; }

.overlay_container {
  grid-column: 3/8;
  grid-row: 1/6;
  display: flex;
  flex-direction: row; }

.option_button {
  display: block;
  margin: 100px auto auto 0; }

.play_button {
  display: block;
  margin: 100px auto auto auto; }

.shuffle_button {
  display: block;
  margin: 100px 0 auto auto; }

.sneaky {
  position: absolute;
  margin: 50vh 0 0 0;
  width: 100px;
  height: 50px;
  transition: 0.5s;
  display: block; }

.sneaky:hover {
  transform: scale(0.15);
  box-shadow: -200px -100px grey, 200px -100px grey, 250px 120px grey, 150px 170px grey, 50px 190px grey, 0px 200px grey,  -250px 120px grey, -150px 170px grey, -50px 190px grey; }

@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  .overlay_container {
    grid-column: 3/8;
    grid-row: 1/6;
    display: flex;
    flex-direction: column; }

  .option_button {
    margin: 30px auto 10px auto; }

  .play_button {
    margin: 30px auto 10px auto; }

  .shuffle_button {
    margin: 30px auto 10px auto; }

  .sneaky {
    display: none; } }
.construction_img {
  margin-top: 50px;
  background: url(/img/desktop/image_sprites.png) 0 -1200px;
  width: 1024px;
  height: 681px; }

.h_mininote {
  height: 360px; }

@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  .construction_img {
    margin-left: auto;
    margin-right: auto;
    background-image: url(/img/mobile/Construction.png);
    width: 300px;
    height: 600px; }

  .h_content {
    padding: 0px 20px 0 20px; }

  .h_content_title {
    transform: translateY(-70px);
    padding: 0 5px 0 5px;
    width: 85vw;
    height: 100px;
    line-height: 40px; }

  .h_content_title h1 {
    font-size: 150%;
    margin: 0;
    padding: 6px 2px 6px 2px; } }
@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  .a_content_title {
    padding: 0 40px 0 40px; }

  .a_content_title h1 {
    font-size: 180%; } }
.stuff {
  margin: 0 auto 0 auto;
  width: 96%;
  height: 20000px; }

.library {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
  grid-gap: 20px;
  height: 82vh;
  width: inherit;
  margin: 0; }

.stuff_title {
  font-size: 80px;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center; }

.pic {
  margin: 0;
  grid-column: span 1;
  grid-row: span 1;
  background-color: grey;
  width: 300px;
  height: 300px; }

.pic1 {
  background: url(/img/desktop/gallery_sprites.png) 0 0; }

.pic2 {
  background: url(/img/desktop/gallery_sprites.png) -300px 0; }

.pic3 {
  background: url(/img/desktop/gallery_sprites.png) -600px 0; }

.pic4 {
  background: url(/img/desktop/gallery_sprites.png) -600px -300px; }

.pic5 {
  background: url(/img/desktop/gallery_sprites.png) 0 -300px; }

.pic6 {
  background: url(/img/desktop/gallery_sprites.png) 0 -600px; }

.pic7 {
  background: url(/img/desktop/gallery_sprites.png) -300px -600px; }

.pic8 {
  background: url(/img/desktop/gallery_sprites.png) -900px 0; }

.pic9 {
  background: url(/img/desktop/gallery_sprites.png) -600px -600px; }

.pic10 {
  background: url(/img/desktop/gallery_sprites.png) -300px -300px; }

.d {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 80%; }

.i {
  margin-top: 20000px; }

@media screen and (max-width: 600px), (max-width: 768px) and (orientation: landscape) {
  .stuff_title {
    font-size: 15vw; }

  .library {
    width: 300px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: auto;
    margin-right: auto; }

  .d {
    margin-top: 3000px; } }
.show {
  visibility: visible; }

.display {
  display: block; }

.sidebar_anim {
  left: 0%;
  transform: translate(0.5);
  transition: 0.5s ease; }

.overlay_anim {
  opacity: 0.7; }

.expand {
  height: 700px; }

.h_expand {
  height: 470px; }
