:root {
    --part_x: 5;
    --part_y: 3;
    --grid_gap: 20px;
    --header_height: 75px;
    --sidebar_max_width: 400px;
    --sidebar_hide_pos: -400px;
    --button_text_size: 30px;
    --icon_size: 50px;
    --margin-sides: 550px;
}

body {
    position: static;
    margin: 0;
    height: 100%;
    width: 100%;
}
.all {
    width: inherit;
    min-height: 100vh;
    height: inherit;
    display: grid;
    grid-template-rows: var(--header_height) auto;
}

.titlebar {
    position: fixed;
    z-index: +2;
    width: inherit;
    grid-row: 1/2;
}

.title {
    margin: 0 0 0 150px;
    font-size: 40px;
    line-height: 80px;
}

.sidebar {
    visibility: hidden;
    position: fixed;
    z-index: +4;
    width: var(--sidebar_max_width);
    height: inherit;
    transition: 0.5s ease;
    left: var(--sidebar_hide_pos);
}

.sidebar_icon {
    float: right;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-image: url(/img/desktop/test_file.png);
}

.header_icon {
    margin: 10px;
    float: left;
    width: var(--icon_size);
    height: var(--icon_size);
    background-image: url("../img/desktop/test_file2.png")
}

.main_content {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr;
}

.button {
    width: 100px;
    z-index: +3;
    padding: 40px;
    margin: 0;
    font-size: var(--button_text_size);
    line-height: 50px;
    text-align: center;
}


@media screen and (max-width: 600px) {
    :root {
        --sidebar_max_width: 100vw;
        --margin-sides: 0px;
    }

    .all {
        width: 100%;
        height: 100%;
    }

    .title {
        margin: 0 0 0 100px;
    }
}