:root {
    --part_x: 5;
    --part_y: 3;
    --grid_gap: 20px;
    --borderthickness: 1px;
    --border_color: rgb(215, 215, 215);
    --color_dark: #005662;
    --color_medium: #00838f;
    --color_light: #4fb3bf;
    --color_background: rgb(230, 240, 240);
    --color_foreground: white;
    --header_height: 12vh;
    --sidebar_min_width: 4vw;
    --sidebar_max_width: 20vw;
    --button_text_size: 1.5vw;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.all {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: var(--header_height) repeat(5, 1fr);
}

.sidebar {
    position: fixed;
    visibility: hidden;
    grid-template-rows: var(--header_height) repeat(5, 1fr);
    border-right: var(--borderthickness, 2px) solid var(--border_color);
    width: 20vw;
    height: 100vh;
}

.menu_icon_div {
    grid-row: 1/2;
    border-bottom: var(--borderthickness) solid var(--border_color);
}

.menu_content {
    padding-left: 20px;
    grid-row: 2/6;
}

.menu_content a {
    text-decoration: none;
}

.menu_content a p {
    transition: 0.5s;
    color: rgb(100, 100, 100);
}

.menu_content a p:hover {
    transition: 0.2s;
    color: black;
    margin-left: 5px;
}

.titlebar {
    display: grid;
    background-color: var(--color_dark);
    grid-template-columns: repeat(10, 1fr);
    grid-column: 1/11;
    grid-row: 1/2;
    border-bottom: var(--borderthickness, 2px) solid var(--border_color);
}

.title {
    grid-column: 3/9;
    color: white;
    font-size: 50px;
    line-height: 1vw;
}

.button {
    color: white;
    background-color: rgb(189, 218, 255);
    font-size: var(--button_text_size);
    font-family: 'Roboto', sans-serif;
    line-height: 4vw;
    text-align: center;
}