@keyframes options {
    0% {
        grid-column: inherit;
    }
    100% {
        grid-column: 1/11;    
    }
}

.main_content {
    padding-top: var(--grid_gap);
    padding-bottom: var(--grid_gap);
    grid-gap: var(--grid_gap);
    background-color: var(--color_background);
    grid-column: 1/11;
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.option_button {
    grid-column: 3/4;
    grid-row: 1/2;
}

.shuffle_button {
    grid-column: 8/9;
    grid-row: 1/2;
}

.option_button:active {
    animation: options 1s ease;
}

.image_part_container {
    border: 5px solid lightblue;
    grid-column: 3/9;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(var(--parts_x, 5), 1fr);
    grid-template-rows: repeat(var(--parts_y, 3), 1fr);
}

.part {
    border: var(--borderthickness, 2px) solid var(--border_color, black);
}

.empty_part {
    z-index: +1;
    background-color: white;
    grid-column: 1/2;
    grid-row: 3/4;
}

.test_img {
    grid-column: 1/6; 
    grid-row: 1/4;
    background-image: url("../img/test_file.png");
}

