:root {
  --part_x: 5;
  --part_y: 3;
  --grid_gap: 20px;
  --borderthickness: 1px;
  --border_color: rgb(215, 215, 215);
  --color_dark: #005662;
  --color_medium: #00838f;
  --color_light: #4fb3bf;
  --color_background: rgb(230, 240, 240);
  --color_foreground: white;
  --header_height: 100px;
  --sidebar_min_width: 4vw;
  --sidebar_max_width: 20vw;
  --button_text_size: 30px; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color_light); }

.all {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr) auto;
  grid-template-rows: var(--header_height) repeat(5, 1fr); }

.sidebar {
  position: fixed;
  visibility: hidden;
  grid-template-rows: var(--header_height) repeat(5, 1fr);
  border-right: var(--borderthickness, 2px) solid var(--border_color);
  width: 20vw;
  height: 100vh; }

.sidebar_icon_div {
  grid-row: 1/2;
  border-bottom: var(--borderthickness) solid var(--border_color); }

.sidebar_content {
  padding-left: 20px;
  grid-row: 2/6; }

.sidebar_content a {
  text-decoration: none; }

.sidebar_content a p {
  transition: 0.5s;
  color: #646464; }

.sidebar_content a p:hover {
  transition: 0.2s;
  color: black;
  margin-left: 5px; }

.titlebar {
  display: grid;
  background-color: var(--color_dark);
  grid-column: 1/12;
  grid-row: 1/2;
  grid-template-columns: repeat(10, 1fr);
  border-bottom: var(--borderthickness, 2px) solid var(--border_color); }

.title {
  grid-column: 3/9;
  color: white;
  font-size: 50px;
  line-height: 40px; }

.button {
  color: white;
  background-color: #bddaff;
  font-size: var(--button_text_size);
  font-family: 'Roboto', sans-serif;
  line-height: 150px;
  text-align: center;
  box-shadow: 3px 3px grey; }

@keyframes options {
  0% {
    grid-column: inherit; }
  100% {
    grid-column: 1/11; } }
.main_content {
  padding-top: var(--grid_gap);
  padding-bottom: var(--grid_gap);
  grid-gap: var(--grid_gap);
  background-color: var(--color_background);
  grid-column: 1/11;
  grid-row: 2/7;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.option_button {
  grid-column: 3/4;
  grid-row: 1/2; }

.shuffle_button {
  grid-column: 8/9;
  grid-row: 1/2; }

.option_button:active {
  animation: options 1s ease; }

.image_part_container {
  border: 5px solid lightblue;
  grid-column: 3/9;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: repeat(var(--parts_x, 5), 1fr);
  grid-template-rows: repeat(var(--parts_y, 3), 1fr); }

.part {
  border: var(--borderthickness, 2px) solid var(--border_color, black); }

.empty_part {
  z-index: +1;
  background-color: white;
  grid-column: 1/2;
  grid-row: 3/4; }

.test_img {
  grid-column: 1/6;
  grid-row: 1/4;
  background-image: url("../img/test_file.png"); }

.show_sidebar {
  visibility: visible; }
