<div class="about_div">
    <aside class="creator">
        <img src="img/steve.png" alt="The creator">
        <h3>Steve nojobs</h3>
        <p class="short_p">Age: 1 months</p>
        <p class="short_p">Professions: Programmer, webserver programmer.</p>
        <p class="show_more display" onclick="toggleCreatorText()">Show more...</p>
        <p class="long_p">Steve has been working as a lead programmer for 
            numerous websites and projects.
             Steve had a rough childhood, it was not untill recently
              he found the salvation in programming. His whole childhood had
               been tormented by anxieties and phobias. His whole life was a rolercoaster
                of fear "I feel like I've been trapped in a cage my whole life,
                 but now I can do whatever I want". </p>
    </aside>    
    <div class="about_game">
        
    </div>
</div>