<div class="t_div h_div">
    <img class="t_background h_background" src="img/desktop/Mountain-Scenery.png" alt="Background image">
    <div class="t_placeholder h_placeholder"></div>
    <aside class="t_mininote h_mininote">
        <img src="img/desktop/clicking.png" alt="Help image">
        <h3>Have you tried...</h3>
        <p class="t_short_p h_short_p">Clicking on the tiles?</p>
        <p class="t_show_more h_show_more display" onclick="toggleCreatorText('h_expand')">Show more...</p>
        <p class="t_long_p h_long_p">A lot of people don't even consider pressing the tiles, which only leaves them at a confusing site with an weird image. Common symptoms: Existential crisis, depression, feelings of no self worth.</p>
    </aside>    
    <div class="t_content h_content">
        <div class="t_content_title h_content_title">
            <h1>How the F@#% are you supposed to...?!</h1>
        </div>
        <div class="construction_img" src="img/Construction.png" alt="Construction site"></div>
        
        <p>Under temporary (perhaps permanent) construction...</p>
    </div>
</div>