<div class="overlay">
    <div class="overlay_container">
        <div class="option_button button" onclick="alert('I am options yes!')">Options</div>
        <div class="play_button button" onclick="toggleOverlay(); alert('Time to play....')">Play</div>
        <div class="shuffle_button button" onclick="alert('Shuffling :D')">Shuffle</div>
    </div>
</div>

<div class="image_part_container">
    <div class="empty_part part"></div>
    <div class="test_img part"></div>
</div>