<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>GameCubes</title>
</head>
<body>
    <div class="all">
        <aside class="sidebar">
            <div class="menu_icon_div">
                <img src="" alt="Menu Icon">
            </div>
            <div class="menu_content">
                <a href="/how_to_play.html">
                    <p>How to play</p>
                </a>
                <a href="/stuff.html">
                    <p>Stuff</p>
                </a>
                <a href="/about.html">
                    <p>About</p>
                </a>
            </div>
        </aside>
        <header class="titlebar">            
            <h2 class="title">
                <%= @title %>
            </h2>
        </header>
        <div class="main_content">
            <%= yield %>
        </div>
    </div>
</body>
</html>