<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Roboto" rel="stylesheet"> 
    <title>GameCubes</title>
</head>
<body>
    <div class="all">
        <aside class="sidebar">
            <div class="sidebar_icon_div" onclick="toggleSidebar()">
                <div class="sidebar_icon"></div>
            </div>
            <div class="sidebar_content">
                <a href="/index.html">
                    <p>Gaming time</p>
                </a>
                <a href="/how_to_play.html">
                    <p>How to play</p>
                </a>
                <a href="/stuff.html">
                    <p>Stuff</p>
                </a>
                <a href="/about.html">
                    <p>About</p>
                </a>
            </div>
        </aside>
        <header class="titlebar">
            <div class="header_icon" onclick="toggleSidebar()"></div>            
            <h2 class="title" onclick="toggleOverlay()">
                <%= @title %>
            </h2>
        </header>
        <div class="main_content" id="0">
            <div class="space"></div>
            <%= yield %>
        </div>
    </div>
    <script src="js/toggle.js"></script>
</body>
</html>