<div class="image_part_container">
    <div class="empty_part part"></div>
    <div class="test_img part"></div>
</div>
<div class="option_button button" onclick="alert('I am options yes!')">Options</div>
<div class="shuffle_button button" onclick="alert('Shuffling :D')">Shuffle</div>