:root {
    --part_x: 5;
    --part_y: 3;
    --grid_gap: 20px;
    --header_height: 75px;
    --sidebar_max_width: 400px;
    --sidebar_hide_pos: -400px;
    --button_text_size: 30px;
    --icon_size: 50px;
}

body {
    margin: 0;
}
.all {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-column: auto;
    grid-template-rows: var(--header_height) auto;
}

.titlebar {
    width: inherit;
    grid-row: 1/2;
}

.title {
    margin: 0 0 0 150px;
    font-size: 40px;
    line-height: 80px;
}

.sidebar {
    visibility: hidden;
    position: fixed;
    z-index: +3;
    width: var(--sidebar_max_width);
    height: inherit;
    transition: 0.5s ease 0s;
    left: var(--sidebar_hide_pos);
}

.sidebar_icon_div img{
    float: right;
    margin: 10px;
}

.header_icon {
    margin: 10px;
    float: left;
    width: var(--icon_size);
    height: var(--icon_size);
    background-image: url("../img/test_file.png")
}

.button {
    width: 100px;
    z-index: +2;
    padding: 40px;
    margin: 0;
    font-size: var(--button_text_size);
    line-height: 50px;
    text-align: center;
}